@import 'tailwindcss';

:root {
    --bg: #f1f5f9;
    --surface: #ffffff;
    --border: #e2e8f0;

    --text: #0f172a;
    --text-muted: #475569;
    --primary: #3b82f6;
    --primary-hover: #2563eb;

    --danger: #ef4444;
    --danger-hover: #dc2626;
}

.dark {
    --bg: #0f172a;
    --surface: #1e293b;
    --border: #334155;

    --text: #e5e7eb;
    --text-muted: #94a3b8;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}